<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <!--Pobranie jquery mini-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!--Pobranie skrtyptu ustalającego dane do przesłania-->
    <script async src="../static/source/index.js"></script>
    <!--Pobranie stylów-->
    <link rel=stylesheet type=text/css href="/static/style/style.css">

    <title>Multi-Agents</title>
</head>
<body>


<div class="grad"></div>
<div class="box-title">
    <h1>System wieloagentowy</h1>
    <h2>Doradca zakupu sprzętu komputerowego ( Tablet / Laptop / PC )</h2>
</div>

<!--Wygenerowanie pytań z listy pytań-->
{% for quest in qList %}
    <div class="box-1">
        <div class="question">{{ quest.question }}</div>
        <button name="{{ quest.id }}" id="{{ quest.id }}1" onclick="buttClick(this)">{{ quest.ans1 }}</button>
        <button name="{{ quest.id }}" id="{{ quest.id }}2" onclick="buttClick(this)">{{ quest.ans2 }}</button>
        <button name="{{ quest.id }}" id="{{ quest.id }}3" onclick="buttClick(this)">{{ quest.ans3 }}</button>
    </div>
    <div>Priorytet: <span id="span{{ quest.id }}">1</span>
        <input name="{{ quest.id }}" id="range{{ quest.id }}" type="range" min="1" max="5" value="1"
               oninput="rangeChange(this)">
    </div>
    <br>
{% endfor %}
<div class="box-1">
    <div class="question">Przybliżona cena</div>
    <input class="input" type="number" id="price" value="2000">
</div>
<div>Priorytet: <span id="span5">1</span>
    <input name="5" id="range5" type="range" min="1" max="5" value="1" oninput="rangeChange(this)">
</div>
<br>
<div class="box-1">
    <button class="btn" onclick="showAns()">Wyświetl propozycje</button>
</div>

<!--Podciągnięcie danych w ramach odpowiedzi-->
<div id="responde">

</div>

</body>
</html>